{% load static %}
{% load rest_framework %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Razorpay app ingestion -->
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" type="image/png" href="{% static 'favicons/favicon.png' %}">
        <title>Data Capture</title>        
    </head>
    <body>
        <div class="main-container">
            <h2 class="form-title">Please Enter the details</h2>
            <form class="main-form" id="order-form" >
                {% render_form order_serializer %}
            </form>
            <form class="main-form" id="payment-form" >
                {% render_form payment_serializer %}
            </form>

            <iframe id="pdfFrame" width="100%" height="600px" style="border: none;" hidden></iframe>

            <button id="bill-button" hidden>Generate Bill</button>
            <br>
            <button id="payment-button">Make Payment</button>

            <div id="loading-overlay" hidden>
                <div class="spinner"></div>
                <p>Please Wait...</p>
            </div>
        </div>
       <script>
            let userAPIResponse = null,
                orderAPIResponse = null,
                paymentsAPIResponse = null;

            function showLoading() {
                const overlay = document.getElementById('loading-overlay');
                overlay.hidden = false;
                document.body.style.pointerEvents = 'none';
                document.body.style.overflow = 'hidden';
            }

            function hideLoading() {
                const overlay = document.getElementById('loading-overlay');
                overlay.hidden = true;
                document.body.style.pointerEvents = 'auto';
                document.body.style.overflow = 'auto';
            }

            async function makeJSONAPICall(url, data) {
                const complete_url = url ? `/public/payments/${url}/`: `/public/payments/`; 
                try{
                    const response = await fetch(
                        complete_url,
                        {
                            method: "POST",
                            headers: { 
                                "Content-Type": "application/json" ,
                                "Accept": "application/json"
                            },
                            body: data
                        }
                    )
                    if (!response.ok) throw new Error(`HTTP ${response.status}`);
                    const respJson = await response.json()
                    return respJson

                } catch(err) {
                    console.error(`Api call failed for ${complete_url}:`, err);
                }
            }

            async function makeRazorPayCall(data) {
                try {
                    const rzp = new Razorpay(paymentsAPIResponse?.payload);
                    rzp.open();
                } catch (error) {
                    console.error("Razorpay init failed:", error);
                    alert("Unable to start payment.");
                }
            }
            document.getElementById("payment-button").addEventListener("click", async function (e) {
                e.preventDefault();
                showLoading();
                try{

                    const orderFormData = new FormData(document.getElementById("order-form"));
                    const paymentFormData = new FormData(document.getElementById("payment-form"));

                    const userAPIdata = JSON.stringify({
                        "name": paymentFormData.get("requested_by.name"),
                        "email": paymentFormData.get("requested_by.email"),
                        "country_code": paymentFormData.get("requested_by.country_code"),
                        "phone_number": paymentFormData.get("requested_by.phone_number")
                    });
                    userAPIResponse = await makeJSONAPICall('create_user', userAPIdata)

                    const orderAPIdata = JSON.stringify({
                        "currency": orderFormData.get("currency"),
                        "amount": orderFormData.get("amount"),
                        "description": orderFormData.get("description")
                    })
                    orderAPIResponse = await makeJSONAPICall('create_order', orderAPIdata)

                    const paymentsAPIdata = JSON.stringify({
                        "order_id": orderAPIResponse?.id,
                        "user_id":  userAPIResponse?.id,
                        "payment_mode": paymentFormData.get("payment_mode")
                    })
                    paymentsAPIResponse = await makeJSONAPICall(null, paymentsAPIdata);

                } catch (err){
                    console.log("Error in connecting to backend", err)
                } finally{
                    hideLoading();
                }

                if (!userAPIResponse || !orderAPIResponse || !paymentsAPIResponse) {
                    alert("Something went wrong, please try again.");
                    return;
                }

                if(paymentsAPIResponse && paymentsAPIResponse?.payload){
                    await makeRazorPayCall(paymentsAPIResponse?.payload)
                    document.getElementById('bill-button').hidden = false;
                }
            })
            document.getElementById("bill-button").addEventListener("click", async function (e) {
                showLoading();

                e.preventDefault();
                const billAPIData = JSON.stringify({
                    user_id: userAPIResponse?.id,
                    order_id: orderAPIResponse?.id,
                    payment_id: paymentsAPIResponse?.id
                }) 
                const billAPIResponse = await fetch("/public/payments/generate_bill/", {
                    method: "POST",
                    headers: { 
                        "Content-Type": "application/json"
                    },
                    body: billAPIData,
                });
                if (!billAPIResponse.ok) {
                    hideLoading();
                    throw new Error(`HTTP ${billAPIResponse.status}`);
                }

                // Convert the response to a Blob (PDF binary)
                const blob = await billAPIResponse.blob();
                const pdfUrl = URL.createObjectURL(blob);

                const pdfFrame = document.getElementById("pdfFrame")
                pdfFrame.src = pdfUrl;
                pdfFrame.hidden = false;
                pdfFrame.onload = () => URL.revokeObjectURL(pdfUrl);

                document.getElementById('bill-button').hidden = true;
                document.getElementById('payment-button').hidden = true;

                hideLoading();
            })
        </script>
    </body>
</html>