{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon.png' %}">
    <title>Error | Authentication Failed</title>
</head>
<body>
    <div class="error-container">
        <h1>Authentication Error</h1>
        <h2>Error Message: {{ message }}</h2>
        <a href="/" class="back-btn">Go Back</a>
    </div>
</body>
</html>
